{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- DIV separation entre la nav et le foooter en attendant les sections -->
<div class="container-fluid my-5 test d-flex justify-contend-center">
    <div class="row my-5">
        <div class="col-3 offset-1 my-5">
            <img class="image" src="{% static 'images/Symbol-Depth-blue-RGB.png' %}" alt="logo blue" id="propos">
            <div class="lien"> <a href="#" class="lien my-5">Rejoignez-nous. Adhérez !</a>
            </div>
            </div>
        <div class="col-6 ml-5 section">
            <h1 class="text-dark "> A propos de l’Internet Society  </h1>
            <p class="text-dark">Nous protégeons les internautes</p>
            <p class="text-dark">Créée en 1992, l’Internet Society est une association qui représente les
                    utilisateurs d’Internet dans les instances de la Gouvernance de l’Internet
                    en Belgique et dans le Monde. Les membres de l’Internet Society France
                    construisent le futur d’Internet, en en préservant les fondements : un
                    Internet neutre, unique et ouvert à tous. L’Internet Society est présente
                    dans plus de 100 pays dans le monde. </p>
        </div>
    </div>
</div>

    <!-- Section card  -->
    
    <div class="container" id="sectionCard">
            <div class="row">
                    <h1 class="title col-md-12 col-sm-12 text-center ">
                        Voici notre équipe
                        <br>
                        <small>Découvrez nos bénévoles</small>
                    </h1>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                        </div>
                                        <div class="user">
                                            <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">Frédéric Taes</h3>
                                                <p class="profession">Président</p>
                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h4 class="text-center">Job Description</h4>
                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                                
                                                <div class="stats-container">
                                                    <div class="stats">
                                                        <h4>235</h4>
                                                        <p>
                                                            Followers
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>114</h4>
                                                        <p>
                                                            Following
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>35</h4>
                                                        <p>
                                                            Projects
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> <!-- end col sm 3 -->
                        <!--         <div class="col-sm-1"></div> -->
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                        </div>
                                        <div class="user">
                                            <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">Jos Jacob</h3>
                                                <p class="profession">Vice-Président
                                                </p>
                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h4 class="text-center">Job Description</h4>
                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                                
                                                <div class="stats-container">
                                                    <div class="stats">
                                                        <h4>235</h4>
                                                        <p>
                                                            Followers
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>114</h4>
                                                        <p>
                                                            Following
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>35</h4>
                                                        <p>
                                                            Projects
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> 
                        <!--         <div class="col-sm-1"></div> -->
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="{% static 'images/rotating_card_thumb3.png' %}" alt="Champ de blé"/>
                                        </div>
                                        <div class="user">
                                            <img class="img-circle" src="{% static 'images/rotating_card_profile.png' %}" alt="Charle"/>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">Nathalie Kuborn</h3>
                                                <p class="profession">Vice-Présidente</p>
                                                
                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h4 class="text-center">Job Description</h4>
                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                                
                                                <div class="stats-container">
                                                    <div class="stats">
                                                        <h4>235</h4>
                                                        <p>
                                                            Followers
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>114</h4>
                                                        <p>
                                                            Following
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>35</h4>
                                                        <p>
                                                            Projects
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> <!-- end col-sm-3 -->
                    </div> <!-- end col-sm-10 -->
                </div> <!-- end row -->
        <div class="row mt-5">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Frans Gerbosch</h3>
                                        <p class="profession">Trésorier</p>
                                        <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                    </div>

                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Sandra Pezzotta</h3>
                                        <p class="profession">Sercrétaire
                                        </p>
                                        <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> 
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="{% static 'images/rotating_card_thumb3.png' %}" alt="Champ de blé"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="{% static 'images/rotating_card_profile.png' %}" alt="Charle"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Peter Durieux</h3>
                                        <p class="profession">Communiqué de presse</p>
                                        
                                        <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col-sm-3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
        <div class="row mt-5">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover">
                                        <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                    </div>
                                    <div class="user">
                                        <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">Benjamin Van Bever</h3>
                                            <p class="profession">Trésorier suppléant</p>
                                            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                            
                                            <div class="stats-container">
                                                <div class="stats">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>35</h4>
                                                    <p>
                                                        Projects
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div> <!-- end col sm 3 -->
                    <!--         <div class="col-sm-1"></div> -->
                    <div class="col-md-4 col-sm-6">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover">
                                        <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                    </div>
                                    <div class="user">
                                        <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">Johannes Schnack</h3>
                                            <p class="profession">Secrétaire suppléant</p>
                                            <p class="profession">Communiqué de presse suppléant</p>
                                            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                            
                                            <div class="stats-container">
                                                <div class="stats">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>35</h4>
                                                    <p>
                                                        Projects
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div> 
                    
            </div> <!-- end row -->
        <div class="space-100"></div>
    </div>
    
    <!-- end section card  -->
    <div class="container bg-light">
        <h1 id="titre-contact">Contact</h1>
        <p class="paragraphe-contact mt-5"><i class="icones-contact fa fa-location-arrow"></i>285, Rue du Noyer 1000 Bruxelles</p>
        <p class="paragraphe-contact my-2"><i class="icones-contact fa fa-phone"></i>  +91-9999878398  </p>
        <p class="paragraphe-contact my-2"><i class="icones-contact fa fa fa-envelope"></i> info@isoc.be </p>   
    </div>
{% endblock content %}
