{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- DIV separation entre la nav et le foooter en attendant les sections -->
<div class="container my-5">
    <div class="row mt-5">
        <div class="col-12 bg-danger mt-5">
            <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore blanditiis officiis placeat aut rem dolore esse. Fugit vel molestias eos voluptate vitae possimus ut, quis eveniet praesentium nam, modi esse? </h1>
            <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore blanditiis officiis placeat aut rem dolore esse. Fugit vel molestias eos voluptate vitae possimus ut, quis eveniet praesentium nam, modi esse? </h1>
        </div>
    </div>
</div>


{% endblock content %}
