{% extends 'base.html' %}
{% load static %}



{% block content %}
<!-- Jumbotron -->

<div class="card2 card-image jumbotron2">
    <div class="text-center py-5 px-4">
      <div class="justify-contend-center">
        <h2 class="card-title h1-responsive pt-3 my-5 font-bold titre-apropos"><strong>A propos d'Internet</strong></h2>
        <p class="mx-5 mb-5 texte-apropos">Qu'est-ce que c'est l'Internet? Bien que cela puisse sembler une simple question, la définition d'Internet n'est pas facile. Parce que contrairement à tout autre technologie, Internent peut être ce que nous faisons. Nous pouvons le façonner. Mais le plus important, nous pouvous l'utiliser pour connecter les gens, les communautés et les pays du monde entier.
        </p>
        <a class="btn btn-lg btn-outline-white"><i class="fas fa-clone left mx-3"></i>Savoir plus</a>
      </div>
    </div>
  </div>

<!-- End jumbotron -->
    

{% endblock content %}
