{% extends 'base.html' %}
{% load static  %}
{% load i18n %}
{% block content %}    
    
    <!-- leger bug de hight à regler !!!!!!!! -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="space-100"></div>
    <!-- end here HIGHT  -->
    
    
    
    <!-- Section CARD    ps !!!! soucis avec l'affichage des ICONES A REGLER !!!!    -->
    <!-- Partie I -->
    <div class="container">
        <!-- Gauche -->
        <figure class="snip0057 red main1" >
            <figcaption>
                <h2>Accessibilité numérique pour les personnes <span> aveugles et malvoyantes</span></h2>
                <p class="text-danger">: nous agissons auprès des pouvoirs publics et des grands acteurs numériques afin d’assurer une mise en conformité des sites et applications. </p>
                <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
            </figcaption>
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
            <div class="position">Exemple 1 </div>
        </figure>
        <!-- Droite -->
        <figure class="snip0057 blue">
            <figcaption>
                <h2>Réduction de la fracture <span>numérique</span></h2>
                <p class="text-danger"> bien que passée sous le “seuil psychologique des 10% depuis 2017, le score de la Belgique reste encore trop élevé par rapport à ses voisins hollandais ou luxembourgeois.</p>
                <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
            </figcaption>
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sample3"/></div>
            <div class="position">Exemple 2</div>
        </figure>
    </div>
    
    <!-- Partie II -->
    <div class="container mb-5">
        <!-- Gauche -->
        <figure class="snip0057 red main1" >
            <figcaption>
                <h2>Internet pour les  <span>réfugiés</span></h2>
                <p class="text-danger"> Si l’internet est acquis pour le grand nombre en Belgique, les populations de réfugiés qui en ont désespérément besoin pour rester en contact avec leurs proches, en sont encore largement dépourvues</p>
                <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone text-dark"></i></a></div>
            </figcaption>
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
            <div class="position">Exemple 3</div>
        </figure>
        <!-- Droite -->
        <figure class="snip0057 blue mb-5">
            <figcaption>
                <h2>Devenez <span>membre</span></h2>
                <p class="text-danger">Devenez membre de notre communauté et contribuez à rendre le monde meilleur en participant à l’accessibilité et la sécurité de l’internet pour tous . Votre soutien fait la différence !</p>
                <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
            </figcaption>
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sample3"/></div>
            <div class="position"><button class="btn-adhesion  text-white btn btn-xs"><i class="fa fa-circle-o-notch fa-spin"></i> J'adhère maintenant !</button></div>
        </figure>
    </div>
    
    <!-- End section card  -->
    
    
    
    
    
    <!--footer starts from here-->
{% endblock content %}
