{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Jumbotron -->
    <div class="card-image mb-5">
        <div class=" text-center  py-5 px-4">
            <div class="area py-5">
                
                <!-- Content -->
                <h5 class="h5 orange-text"><i class="fas fa-camera-retro text-white"></i></h5>
                <h2 class="card-title h2 my-4 py-2">Rejoindre le mouvement global.</h2>
                <p class="mb-4 pb-2 px-md-5 mx-md-5 text-danger">Nous sommes des milliers de membres qui travail pour construire internet pour tout le monde,partout.</p>
                <a class="btn peach-gradient text-success"><i class="fas fa-clone left text-primary"></i> Voir nos projects.</a>
                
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
    
    
    <!-- Section: Features v.1 -->
    <section class="container text-center my-5 bg-light ">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Nos membres façonnnent le futur.</h2>
        <!-- Section description -->
        <p class="lead text-muted  w-responsive mx-auto mb-5">Vous pouvez nous aider à préserver les fondements sur lesquels Internet a été construit et vous joindre à nous pour le garder ouvert, global et accessible à tous.</p>
        
        <!-- Grid row -->
        <div class="row">
            
            <!-- Grid column -->
            <div class="col-md-4">
                
                <!-- Grid column -->
                <i class="fas fa-chart-area fa-3x red-text"></i>
                <h5 class="font-weight-bold my-4">Soyer le champion d'Internet ouvert pour tous.</h5>
                <p class="text-muted  mb-md-0 mb-5">Notre communauté travaille sur des projets autour du monde à travers plus de 100 chapitres, groupes d'interêt et collaboration en ligne.
                </p>
                
            </div>
            
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-4">
                
                <i class="fas fa-chart-area fa-3x red-text"></i>
                <h5 class="font-weight-bold my-4">Collaborez et échangez</h5>
                <p class="text-muted  mb-md-0 mb-5">Développez votre réseau mondial apprenez des gens qui utilisent la technologies pour améliorer leurs vies. Les membres peuvent se joindre aux sections locales, participez à des groupes de discussions en ligne, assister à des événement et rester à jour sur les questions qui sont importantes pour vous.
                </p>
                
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-4">
                
                <i class="fas fa-book fa-3x cyan-text"></i>
                <h5 class="font-weight-bold my-4">Obtenez de l'aide pour votre travail.</h5>
                <p class="text-muted  mb-md-0 mb-5">L'Internet SOciety soutient les membres dans la création et le financement de projets qui aident les communautés à trier parti des possibiltés qu'offre Internet.
                </p>
                
            </div>
            <!-- Grid column -->
            
            
            
        </div>
        <!-- Grid row -->
        <div class="row m-5">
            <div class="col-md-12 text-center"><button type="button" class="btn btn-outline-success btn-rounded waves-effect">Pour devenir membre, cliquez ici !</button></div>
        </div>
        
    </section>
    <!-- Section: Features v.1 -->
{% endblock content %}
