.test  {
    margin-top: 10% !important;
}
.image {
    width: 100%;
}

.lien {
    margin-top: 8%;
    margin-left: 14%;
}
p {
    font-size: 160%;
}
.section {
    margin-top: 3%;
}
.separateurContact{
    margin-top: 5%;
}