{% extends 'base.html' %}
{% load static %}
{% block content %}

            <!-- TITRE HEADER -->
            <!-- <h1 class="text-center">“Un internet neutre, globalement connecté, fiable, accessible et sécurisé pour tous.”</h1> -->
            
            <!-- Carousel  -->
            <section>
                <div id="slider-animation" class="carousel slide" data-ride="carousel">
                    
                    <!-- Indicators -->
                    
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <!-- <div class="carousel-item">
                            <img src="{% static 'images/Background-Calm-Depth-Green-RGB.png' %}" alt="Los Angeles">

                            <div class="overlay2">
                                <div class="overlay-titre mb-4 px-2">INTERNET SOCIETY BELGIUM</div>
                                <div class="overlay-texte p-1">WE PROTECT THE USERS</div>
                            </div>
                        </div> -->
                        <div class="carousel-item  active">
                            <img src="{% static 'images/carou-2.png' %}" alt="Los Angeles">

                            <div class="overlay">
                                <div class="overlay-titre mb-4 px-2">INTERNET SOCIETY BELGIUM</div>
                                <div class="overlay-texte p-1">WE PROTECT THE USERS</div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/carou-3.jpg' %}" alt="Chicago">

                            <div class="overlay">
                                <div class="overlay-titre mb-4 px-2">INTERNET SOCIETY BELGIUM</div>
                                <div class="overlay-texte p-1">WE PROTECT THE USERS</div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#slider-animation" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#slider-animation" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                    
                </div>
                
            </section>
        
    <!-- END HEADER -->
    
    <!-- Présentation  -->
    
    <section class="about-us py-5 mt" id="about-us">
        <div class="container mt-5">
            <div class="row">
                <!-- partie gauche  -->
                <div class="col-md-6">
                    <!-- titre -->
                    <h1 class='text-success'>Bienvenue!</h1>
                    <!-- sous titre  -->
                    <h2 class="text-dark">L’Internet Society (ISOC)</h2>
                    <hr>
                    <!-- paragraphe 1 & 2 --> 
                    <p class="text-dark"> est une association internationale créée en 1992 par les pionniers de l’Internet pour promouvoir et coordonner son développement dans le monde. Elle est l’autorité morale et technique la plus influente dans l’univers du réseau Internet. </p>
                    <p class="text-dark">Notre objectif Un internet accessible à tous, afin de permettre à chacun de bénéficier d'un accès au réseau et des services indispensables de la vie quotidienne qui y sont liés :</p>
                    <!-- button -->
                    <button type="button" class="btn btn-success">Lire plus sur ISOC</button>
                    
                </div>
                <!-- partie droite  -->
                <div class="col-md-6">
                    <!-- image -->
                    <img class="w-100" src="http://themebubble.com/demo/marketingpro/wp-content/uploads/2016/10/seo-slide.png "alt="ordinateur" style="margin-top: 20%">
                </div>
            </div>
        </div>
        

    </section>
    
    <!-- End présentation  -->
    
    
    
    <!-- Section card  -->
    
    <div class="container" id="sectionCard">
            <div class="row">
                    <h1 class="title col-md-12 col-sm-12 text-center ">
                        Voici notre équipe
                        <br>
                        <small>Découvrez nos bénévoles</small>
                    </h1>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                        </div>
                                        <div class="user">
                                            <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">Frédéric Taes</h3>
                                                <p class="profession">Président</p>
                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h4 class="text-center">Job Description</h4>
                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                                
                                                <div class="stats-container">
                                                    <div class="stats">
                                                        <h4>235</h4>
                                                        <p>
                                                            Followers
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>114</h4>
                                                        <p>
                                                            Following
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>35</h4>
                                                        <p>
                                                            Projects
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> <!-- end col sm 3 -->
                        <!--         <div class="col-sm-1"></div> -->
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                        </div>
                                        <div class="user">
                                            <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">Jos Jacob</h3>
                                                <p class="profession">Vice-Président
                                                </p>
                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h4 class="text-center">Job Description</h4>
                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                                
                                                <div class="stats-container">
                                                    <div class="stats">
                                                        <h4>235</h4>
                                                        <p>
                                                            Followers
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>114</h4>
                                                        <p>
                                                            Following
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>35</h4>
                                                        <p>
                                                            Projects
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> 
                        <!--         <div class="col-sm-1"></div> -->
                        <div class="col-md-4 col-sm-6">
                            <div class="card-container">
                                <div class="card">
                                    <div class="front">
                                        <div class="cover">
                                            <img src="{% static 'images/rotating_card_thumb3.png' %}" alt="Champ de blé"/>
                                        </div>
                                        <div class="user">
                                            <img class="img-circle" src="{% static 'images/rotating_card_profile.png' %}" alt="Charle"/>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h3 class="name">Nathalie Kuborn</h3>
                                                <p class="profession">Vice-Présidente</p>
                                                
                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                            </div>
                                        </div>
                                    </div> <!-- end front panel -->
                                    <div class="back">
                                        <div class="header">
                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                        </div>
                                        <div class="content">
                                            <div class="main">
                                                <h4 class="text-center">Job Description</h4>
                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                                
                                                <div class="stats-container">
                                                    <div class="stats">
                                                        <h4>235</h4>
                                                        <p>
                                                            Followers
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>114</h4>
                                                        <p>
                                                            Following
                                                        </p>
                                                    </div>
                                                    <div class="stats">
                                                        <h4>35</h4>
                                                        <p>
                                                            Projects
                                                        </p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="social-links text-center">
                                                <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                            </div>
                                        </div>
                                    </div> <!-- end back panel -->
                                </div> <!-- end card -->
                            </div> <!-- end card-container -->
                        </div> <!-- end col-sm-3 -->
                    </div> <!-- end col-sm-10 -->
                </div> <!-- end row -->
        <div class="row mt-5">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Frans Gerbosch</h3>
                                        <p class="profession">Trésorier</p>
                                        <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                    </div>

                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col sm 3 -->
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Sandra Pezzotta</h3>
                                        <p class="profession">Sercrétaire
                                        </p>
                                        <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> 
                <!--         <div class="col-sm-1"></div> -->
                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src="{% static 'images/rotating_card_thumb3.png' %}" alt="Champ de blé"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="{% static 'images/rotating_card_profile.png' %}" alt="Charle"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">Peter Durieux</h3>
                                        <p class="profession">Communiqué de presse</p>
                                        
                                        <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                        <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                </div> <!-- end col-sm-3 -->
            </div> <!-- end col-sm-10 -->
        </div> <!-- end row -->
        <div class="row mt-5">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover">
                                        <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                    </div>
                                    <div class="user">
                                        <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">Benjamin Van Bever</h3>
                                            <p class="profession">Trésorier suppléant</p>
                                            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                            
                                            <div class="stats-container">
                                                <div class="stats">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>35</h4>
                                                    <p>
                                                        Projects
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div> <!-- end col sm 3 -->
                    <!--         <div class="col-sm-1"></div> -->
                    <div class="col-md-4 col-sm-6">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover">
                                        <img src="{% static 'images/rotating_card_thumb2.png' %}" alt="Champ de blé"/>
                                    </div>
                                    <div class="user">
                                        <img class="img-circle" src="{% static 'images/rotating_card_profile3.png' %}" alt="Charle"/>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h3 class="name">Johannes Schnack</h3>
                                            <p class="profession">Secrétaire suppléant</p>
                                            <p class="profession">Communiqué de presse suppléant</p>
                                            <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                        </div>
                                    </div>
                                </div> <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h4 class="text-center">Job Description</h4>
                                            <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                            
                                            <div class="stats-container">
                                                <div class="stats">
                                                    <h4>235</h4>
                                                    <p>
                                                        Followers
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>114</h4>
                                                    <p>
                                                        Following
                                                    </p>
                                                </div>
                                                <div class="stats">
                                                    <h4>35</h4>
                                                    <p>
                                                        Projects
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>
                                </div> <!-- end back panel -->
                            </div> <!-- end card -->
                        </div> <!-- end card-container -->
                    </div> 
                    
            </div> <!-- end row -->
        <div class="space-100"></div>
    </div>
    
    <!-- end section card  -->
    
    
    
    <!-- Séparateur (hr) -->
    
    <section class="separateur">
        <h1 class="site-title"><a href="#"></a><small></small></h1>
        <hr id="thread3" class="right">
        
    </section>
    
    <!-- end séparateur -->
    
    
    
    <!-- Section rejoingnez-nous  -->
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10  col-sm-12 text-center">
                <h1 class="my-5">Rejoignez l'Internet Society Belge</h1>
                <p class="text-success mx-5 px-5 my-4">Aux côtés des membres de l'Internet Society France, vous participez à nos missions, à la protection des internautes. Vous êtes invité en priorité à nos événements. Vous restez informé en permanence sur la Gouvernance de l'Internet. Vous rejoignez le réseau international des membres de l'Internet Society.</p>
                <button class="btn-adhesion  text-white btn btn-lg m-4 mb-5"><i class="fa fa-circle-o-notch fa-spin"></i> J'adhère maintenant !</button>
            </div>
        </div>
    </div>
    
    
    <section class="separateur">
        <h1 class="site-title"><a href="#"></a><small></small></h1>
        
        <hr id="thread6">
    </section>
    
    
    <div class="space-100"></div>
    
    <!-- end section rejoingnez-nous -->
    
    
    <!-- Section Actualités -->
    
    
                <!--         <div class="col-sm-1"></div> -->
            
                         <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Job Description</h4>
                                        <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                        
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4>235</h4>
                                                <p>
                                                    Followers
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>114</h4>
                                                <p>
                                                    Following
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4>35</h4>
                                                <p>
                                                    Projects
                                                </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
{% endblock content %}
